@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model MVC_Aptech.Models.DTOs.UserRegisterRequest

@{
    ViewData["Title"] = "Register";
}

<div class="container mt-5">

    <h1 class="mb-4">Register</h1>

    <form asp-action="Register" method="post">

        <div class="mb-3">
            <label for="Email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" required>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="FullName" class="form-label">Full Name:</label>
            <input type="text" class="form-control" id="FullName" name="FullName" value="@Model.FullName" required>
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="Password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="Password" name="Password" value="@Model.Password" required>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="ConfirmPassword" class="form-label">Confirm Password:</label>
            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" value="@Model.ConfirmPassword" required>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-warning">Register</button>

    </form>

</div>